.box1 {
    width: 200px;
    height: 150px;
    background-color: blue;
    border: 2px solid aqua;
    margin: 10px;
    padding: 3px;
}

.box2 {
    width: 200px;
    height: 150px;
    background-color: orange;
    border: 4px solid yellow;
    margin: 12px;
    padding: 5px;
}

.box3 {
    width: 200px;
    height: 150px;
    background-color: red;
    border: 6px solid pink;
    margin: 14px;
    padding: 7px;
}

.container {
    width: 200px;
    height: 200px;
    border: 2px solid forestgreen;
}

.text1 {
    padding: 75px 50px;
    margin: 15px 15px;
}

.box4 {
    width: 100px;
    height: 100px;
    background-color: #bbb;
    float: left;
}

.box5 {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    float: left;
}

.box6 {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}